.ui-page-theme-a, .ui-overlay-a {
    text-shadow: 0 0 0;
}

.ui-filter-inset {
    margin-top: 0;
}

/* Basic settings */
.ui-content .ui-listview, .ui-panel-inner>.ui-listview {
    margin: 0;
}
.ui-li-static.ui-collapsible {
    padding: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview,
.ui-li-static.ui-collapsible > .ui-collapsible-heading {
    margin: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-content {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    border-bottom-width: 0;
}
/* collapse vertical borders */
.ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li.ui-last-child,
.ui-li-static.ui-collapsible.ui-collapsible-collapsed > .ui-collapsible-heading > a.ui-btn {
    border-bottom-width: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li.ui-first-child,
.ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li.ui-first-child > a.ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn {
    border-top-width: 0;
}
/* Remove right borders */
.ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > .ui-li-static,
.ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li > a.ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-right-width: 0;
}
/* Remove left borders */
/* Here, we need class ui-listview-outer to identify the outermost listview */
.ui-listview-outer > .ui-li-static.ui-collapsible .ui-li-static.ui-collapsible.ui-collapsible,
.ui-listview-outer > .ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-left-width: 0;
}
/* Remove left padding in listview children */
.ui-collapsible-content {
    padding: 0;
}
/* Adjust position of type effectiveness icon and type name */
.ui-listview>.ui-li-has-icon>img:first-child, .ui-listview>.ui-li-has-icon>.ui-btn>img:first-child {
    top: 0.75em;
    left: 3.0em;
}
.ui-listview>.ui-li-has-icon>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-icon {
    padding-left: 4.5em;
}
/* Move title to left */
.ui-header .ui-title, .ui-footer .ui-title {
    text-align: left;
    margin-left: 55px;
}
/* Center loading spinner */
.ui-loader-default {
    margin-top: 0;
}
/* Remove line from bottom of search field */
.ui-field-contain {
    border: none;
}
/* Search suggestion styling */
.pokemon-suggestion .ui-listview>.ui-li-has-icon>img:first-child, .ui-listview>.ui-li-has-icon>.ui-btn>img:first-child {
    top: -0.3em;
    left: 0.625em;
}
.pokemon-suggestion .ui-listview>.ui-li-has-icon>img:first-child, .ui-listview>.ui-li-has-icon>.ui-btn>img:first-child {
    max-width: 40px;
    max-height: 40px;
}
/* Remove border from effectiveness */
.ui-li-count {
    border: none;
}


.clear {
    clear: both;
}

.vertical-center-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#app-icon {
    height: 36px;
    width: 36px;
}

.search {
    padding: 0;
    margin: 0;
    display: inline-block;
    right: 5px;
    position: absolute;
    top: -6px;
    left: 50px;
    display: none;
}

#search-autocomplete {
    max-height: 210px;
    overflow: auto;
}

.content {
    background-image: url('../img/background.png');
    background-position: center;
    background-size: cover;
    padding: 0.75em;
}

#help {
    text-align: right;
}

#help img {
    max-height: 100%;
    max-width: 100%;
}

#amazon-appstore {
    text-align: center;
    position: absolute;
    bottom: 0.75em;
    left: 0.75em;
    right: 0.75em;
}

#amazon-appstore span {
    display: block;
}

#amazon-appstore a {
    text-decoration: none;
    font-size: 0.9em;
}

#pokemon-info {
    display: none;
}

#pokemon-name-types {
    background-color: rgba(236, 96, 96, 1);
    border: 2px solid rgba(109, 12, 12, 1);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 4px;
    height: 30px;
}

#pokemon-image {
    background-color: rgba(240, 216, 216, 1);
    border: 2px solid rgba(109, 12, 12, 1);
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
}

#pokemon-image img {
    max-width: 90%;
    max-height: 90%;
    vertical-align: middle;
}

#pokemon-name {
    font-size: 22px;
    line-height: 30px;
    color: black;
    padding-left: 5px;
}

#pokemon-types {
    float: right;
}

.type {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 2px;
    background-color: gray;
    padding: 3px;
    margin: 2px;
    text-align: center;
    font-size: 14px;
    color: white;
    display: inline-block;
    width: 55px;
}

.normal {
    border-color: #6d6d4e;
    background-color: #a8a878;
}

.fighting {
    border-color: #7d1f1a;
    background-color: #c03028;
}

.flying {
    border-color: #6d5e9c;
    background-color: #a890f0;
}

.poison {
    border-color: #682a68;
    background-color: #a040a0;
}

.ground {
    border-color: #927d44;
    background-color: #e0c068;
}

.rock {
    border-color: #786824;
    background-color: #b8a038;
}

.bug {
    border-color: #6d7815;
    background-color: #a8b820;
}

.ghost {
    border-color: #493963;
    background-color: #705898;
}

.steel {
    border-color: #787887;
    background-color: #b8b8d0;
}

.fire {
    border-color: #9c531f;
    background-color: #f08030;
}

.water {
    border-color: #445e9c;
    background-color: #6890f0;
}

.grass {
    border-color: #4e8234;
    background-color: #78c850;
}

.electric {
    border-color: #a1871f;
    background-color: #f8d030;
}

.psychic {
    border-color: #a13959;
    background-color: #f85888;
}

.ice {
    border-color: #638d8d;
    background-color: #98d8d8;
}

.dragon {
    border-color: #4924a1;
    background-color: #7038f8;
}

.dark {
    border-color: #49392f;
    background-color: #705848;
}

.fairy {
    border-color: #9b6470;
    background-color: #ee99ac;
}

#type-effectiveness {
    border: 2px solid #ccc;
    border-radius: 3px;
    overflow: auto;
    background-color: #f6f6f6;
    position: absolute;
    bottom: 0.75em;
    left: 0.75em;
    right: 0.75em;
    display: none;
}